html,
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
}

button {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    overflow-x: hidden;
}


/* ------------------- Header --------------------- */

header {
    display: flex;
    justify-content: space-between;
    height: 90px;
    background-color: #ff8300;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: solid 5px #ffc17f;
    margin-bottom: 50px;
}

header i {
    font-size: 2em;
    color: white;
    vertical-align: middle;
    padding: 15px;
}

header i:hover {
    animation-duration: 0.5s;
    animation-name: slideout;
}

@keyframes slideout {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(120px);
        display: none;
    }
}

.navlink {
    display: inline-block;
    position: absolute;
    right: 50px;
}

.link {
    font-family: 'Courgette', cursive;
    font-size: 1.3em;
    font-weight: 500;
    margin: .4em .8em .4em .4em;
    padding: 0.7em 0.2em 0.4em 0.3em;
    cursor: pointer;
    text-decoration: none;
    color: #ffff;
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.link:hover {
    font-size: 1.3em;
    margin: .4em .8em .4em .4em;
    padding: 0.7em 0.2em 0.4em 0.3em;
    cursor: pointer;
    text-decoration: none;
    color: #ffff;
}

.link:hover::before {
    transform: translateY(0px);
}

.link::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffff;
    height: 3px;
    transform: translateY(3px);
    transition-property: transform;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
}

#navbar img {
    position: absolute;
    width: 200px;
    left: 50px;
    vertical-align: middle;
}

#navbar img:hover {
    opacity: 0.5;
}

@media screen and (max-width: 768px) {
    header i {
        display: none !important;
    }

    .navlink {
        right: 10px;
        text-align: right;
    }

    .link {
        font-size: 1.2em;

    }

    .link:hover {
        font-size: 1.2em;
    }

    .link::before {
        height: 2px;
        transform: translateY(2px);
    }

    #navbar img {
        width: 170px;
        left: 30px;
    }
}

@media screen and (max-width: 530px) {

    .link {
        font-size: 0.9em;
        margin: 0;
    }

    .link:hover {
        font-size: 0.9em;
        margin: 0;
    }

    .link::before {
        height: 1px;
        transform: translateY(1px);
    }

    #navbar img {
        width: 110px;
        left: 10px;
    }
}

@media screen and (max-width: 360px) {

    .link {
        font-size: 0.8em;
    }

    .link:hover {
        font-size: 0.8em;
    }

    #navbar img {
        width: 90px;
    }

    header {
        margin-bottom: 30px;
    }
}


/* -------------------- Tutoriel ----------------- */

h1 {
    font-family: 'Courgette', cursive;
    font-weight: 500;
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 50px;
    color: rgb(64, 64, 64);
}

#tutoriel {
    color: grey;
    position: relative;
}

.container {
    margin: 0 auto;
    max-width: 620px;
}

#tutoriel h3 {
    font-family: 'Courgette', cursive;
    color: rgb(64, 64, 64);
    text-align: center;
    font-size: 2em;
    font-weight: 700;
}

#tutoriel p {
    text-align: center !important;
    margin-bottom: 60px;
    padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
    h1 {
        padding-top: 20px;
    }

    .introduction {
        margin-bottom: 50px !important;
    }
}


@media screen and (max-width: 480px) {
    h1 {
        text-align: center;
        font-size: 1.5em;
        margin-bottom: 20px;
        font-weight: 500;
        padding-top: 10px;
        max-width: 80vw;
        margin-left: 10vw
    }

    .introduction {
        margin-left: 10vw !important;
    }

    #tutoriel p {
        text-align: justify;
        margin-bottom: 55px;
        max-width: 80vw;
        padding-bottom: 20px;
        font-size: 0.9em;
        font-weight: 300;
    }

    #tutoriel h3 {
        text-align: center;
        font-size: 1.5em;
        font-weight: 500;
    }
}

@media screen and (max-width: 360px) {
    h1 {
        max-width: 90vw;
        font-size: 1.2em;
        margin-bottom: 40px;
        font-weight: 500;
        padding-top: 10px;
        margin-left: 5vw;
    }

    .introduction {
        margin-left: 5vw !important;
        margin-bottom: 30px;
    }

    #tutoriel p {
        text-align: justify;
        margin-bottom: 55px;
        max-width: 90vw;
        padding-bottom: 20px;
        font-size: 0.9em;
        font-weight: 300;
    }

    #tutoriel h3 {
        color: grey;
        text-align: center;
        font-size: 1.5em;
        font-weight: 500;
    }
}


/* Slides */

.fade:first-of-type {
    display: flex;
}

.fade {
    display: none;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.fade img {
    max-height: 500px;
    border-radius: 25px;
}

@media screen and (max-width: 768px) {
    .fade {
        flex-direction: column;
        text-align: center;
    }

    .fade img {
        max-width: 100vw;
        border-radius: 0;
    }
}

@media screen and (max-width: 480px) {
    .fade img {
        max-width: 100vw;
    }
}


/* Fading animation */

.fade,
.info-station,
.station-name,
.station-address,
.available-bikes,
.reservation-button,
.reservation {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2.5s;
    animation-name: fade;
    animation-duration: 2.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}


/* Tutorial slider controls */

@keyframes hover {
    50% {
        transform: translateY(-3px);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes hover-shadow {
    0% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(3px);
    }


    100% {
        transform: translateY(5px);
    }
}

.hover-shadow {
    display: inline-block;
    position: relative;
    transition-duration: .3s;
    transition-property: transform;
    background: #ff8300;
    color: #fff;
    border-radius: 7px;
    box-shadow: 0 5px #ca6623e6;
    font-size: 3.5em;
    padding: 5px;
}

.hover-shadow:before {
    z-index: -1;
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    transition-duration: .3s;
    transition-property: transform;
}

.hover-shadow:hover {
    transform: translateY(-10px);
    animation-name: hover;
    animation-duration: 1.5s;
    animation-delay: .3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: #ca6623e6;
    box-shadow: none;
    cursor: pointer;
}

.hover-shadow:hover:before {
    transform: translateY(10px);
    animation-name: hover-shadow;
    animation-duration: 1.5s;
    animation-delay: .3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.prev {
    position: absolute;
    top: 45%;
    left: 250px;
}

.next {
    position: absolute;
    right: 250px;
    top: 45%;
}

.play {
    position: absolute;
    right: 50%;
    bottom: 10px;
    font-size: 1.5em;
    color: white;
    border-radius: 60px;
    padding: 10px 9px 10px 11px;
    background-color: #ffc17f;
}

.play:hover {
    cursor: pointer;
    opacity: 0.7;
}

.stop {
    position: absolute;
    right: 50%;
    bottom: 10px;
    font-size: 1.5em;
    color: #ff8300;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #ff8300;
    padding: 10px;
}

.stop:hover {
    cursor: pointer;
    opacity: 0.7;
}

@media screen and (max-width: 1430px) {

    .prev {
        position: absolute;
        top: 43%;
        left: 20px;
    }

    .next {
        position: absolute;
        right: 20px;
        top: 43%;
    }

    .hover-shadow {
        font-size: 3em;
    }
}

@media screen and (max-width: 956px) {

    .prev {
        position: absolute;
        top: 77%;
        left: 20px;
    }

    .next {
        position: absolute;
        right: 20px;
        top: 77%;
    }

    .hover-shadow {
        font-size: 2em;
    }

    .stop {
        right: 47%;
    }

    .play {
        right: 47%;
    }
}

@media screen and (max-width: 600px) {
    .prev {
        top: 70%;
    }

    .next {
        top: 70%;
    }
}

@media screen and (max-width: 460px) {
    .stop {
        left: 45%;
        right: 45%;
    }

    .play {
        left: 45%;
        right: 45%;
    }

    .prev {
        top: 70%;
    }

    .next {
        top: 70%;
    }

    .hover-shadow {
        font-size: 1.5em;
    }

    @keyframes hover {
        0% {
            transform: translateY(0px);
        }

        100% {
            transform: translateY(0px);
        }
    }

    @keyframes hover-shadow {
        0% {
            transform: translateY(0px);
        }

        100% {
            transform: translateY(0px);
        }
    }

    .hover-shadow:hover {
        animation: none;
        transform: translateY(0px);
    }

    .hover-shadow:hover:before {
        animation: none;
        transform: translateY(0px);
    }
}

@media screen and (max-width: 360px) {
    .stop {
        left: 43%;
        right: 44%;
    }

    .play {
        left: 43%;
        right: 44%;
    }

    .prev {
        top: 69%;
    }

    .next {
        top: 69%;
    }
}


/* ---------------------- Section Reserv-Mapbox-GL --------------------- */

#reserv-map {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1200px) {
    #reserv-map {
        flex-direction: column;
    }

    #map {
        height: 500px;
        margin: 15px;
        border: solid 1px #556270;
    }
}

@media screen and (max-width: 480px) {
    #reserv-map {
        flex-direction: column;
    }

    #map {
        height: 300px;
        margin: 15px;
        border: solid 1px #556270;
    }
}

@media screen and (min-width:1200px) {
    #map {
        height: 800px;
        margin: 20px;
        border: solid 2px #556270;
        flex: 3;
    }
}


/* Aside : info station & reservation */

aside {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.info-station,
.reservation {
    height: 280px;
    max-width: 500px;
    margin: 20px;
    color: white;
    background-color: #5B9BB3;
    border-radius: 10px;
    overflow: hidden;
    display: block;
}

#reserv-map h3 {
    text-align: center;
    background-color: #2a4e5c;
    padding: 10px;
    margin-top: 0;
    font-family: 'Courgette', cursive;
}

.info-station p {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0;
    padding-top: 0;
    margin: 10px;
}


/* reservation buttons */

/*#reserv-map button,
.cancel {
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}*/

.reservation-button {
    margin-top: 20px !important;
}

.info-station button {
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
    background: -moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background: -webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background: -o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background: -ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf', GradientType=0);
    background-color: #ededed;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #777777;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

.info-station button:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
    background: -moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background: -webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background: -o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background: -ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed', GradientType=0);
    background-color: #dfdfdf;
}

.info-station button:active {
    position: relative;
    top: 1px;
}


.info-station p {
    text-align: center;
}

.form {
    display: none;
    text-align: center;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.form input {
    border-radius: 5px;
    border: none;
    padding: 5px;
}

#prenomForm {
    width: 40%;
}

#nomForm {
    width: 40%;
}

.info-station button {
    display: none;
    margin: 0 auto;
    margin-top: 10px;
}

#clear {
    -moz-box-shadow: inset 0px 1px 0px 0px #f7c5c0;
    -webkit-box-shadow: inset 0px 1px 0px 0px #f7c5c0;
    box-shadow: inset 0px 1px 0px 0px #f7c5c0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fc8d83), color-stop(1, #e4685d));
    background: -moz-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
    background: -webkit-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
    background: -o-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
    background: -ms-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
    background: linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc8d83', endColorstr='#e4685d', GradientType=0);
    background-color: #fc8d83;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #fc8d83;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #b23e35;
}

#clear:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e4685d), color-stop(1, #fc8d83));
    background: -moz-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
    background: -webkit-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
    background: -o-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
    background: -ms-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
    background: linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4685d', endColorstr='#fc8d83', GradientType=0);
    background-color: #e4685d;
}

#clear:active {
    position: relative;
    top: 1px;
}

#submit {
    -moz-box-shadow: inset 0px 1px 0px 0px #d9fbbe;
    -webkit-box-shadow: inset 0px 1px 0px 0px #d9fbbe;
    box-shadow: inset 0px 1px 0px 0px #d9fbbe;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52));
    background: -moz-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
    background: -webkit-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
    background: -o-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
    background: -ms-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
    background: linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52', GradientType=0);
    background-color: #b8e356;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #83c41a;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #86ae47;
}

#submit:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356));
    background: -moz-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
    background: -webkit-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
    background: -o-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
    background: -ms-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
    background: linear-gradient(to bottom, #a5cc52 5%, #b8e356 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356', GradientType=0);
    background-color: #a5cc52;
}

#submit:active {
    position: relative;
    top: 1px;
}

.cancel {
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
    background: -moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background: -webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background: -o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background: -ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf', GradientType=0);
    background-color: #ededed;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #777777;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

.cancel:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
    background: -moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background: -webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background: -o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background: -ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed', GradientType=0);
    background-color: #dfdfdf;
}

.cancel:active {
    position: relative;
    top: 1px;
}


.cancel {
    padding: 3px 10px;
    margin: 8px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.reservation {
    display: none;
    min-width: 350px;
}


/* ----------------------- Footer ----------------------- */

footer {
    height: 120px;
    background-color: #ff8300;
    border-top: solid 5px #ffc17f;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-family: 'Courgette', cursive;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
    margin: 0px 5px 5px 5px;
    vertical-align: middle;
}

footer .timer-text {
    background-color: #ff8300;
    padding: 2px 10px;
    border-radius: 15px;
    color: white;
}

@media screen and (max-width: 570px) {
    footer {
        height: 130px;
    }

    footer p {
        font-size: 1.2em;
    }
}


/* canvas */

#signature-pad {
    border: solid 1px #45505b;
    background-color: white;
    cursor: pointer;
    margin-left: 25px;
    margin-bottom: 8px;
}